.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  
}

.header-master {
  background-color: #1a1a1a;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  }

li img {
  width: 25px;
  margin-right: 10px;
  margin-left: -20px;
}

li a {
  border: none;
  text-decoration: none;
  color: white;
  font-size: 26px;
}

.pages {
  margin-top: 30px;
  text-align: center;
}

.menu-icon {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.bar {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.menu-icon.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 7px);
}

.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -7px);
}

@media screen and (max-width: 1080px) {
  .nav-list{
    width: 100%;
  height: 100%;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  background-color: #1a1a1a;

  }
  .menu-icon {
    display: block;
  }

  .header-master {
    margin-top: -25px;
  }

  .nav-list.open {
    transform: translateX(0);
  }

  .li-list {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  .nav-list li {
    margin: 20px 0;
  }
}
