.github-link{
    text-decoration: none;
    color: rgb(248,214,172);
}

.footer-link{
    text-decoration: none;
    color: rgba(184, 248, 86, 0.657);
}

.footer-container{
    margin: auto;
    width: 80%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0px;
    font-size: small;
}